
name: Windows
on: push

jobs:
  buildWin:
    runs-on: windows-latest
    steps:
    
    - name: checkout sources
      uses: actions/checkout@v3
      
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '5.15.2'
        modules: 'imageformats'
        arch: 'win64_mingw810'
        extra: '--external 7z'
        
    - name: Build AnimeEffects
      shell: powershell
      run: |
        qmake src\AnimeEffects.pro
        make -j8
        dir
        echo $QT_DIR
        mkdir .\AnimeEffects-Windows
        windeployqt --dir .\AnimeEffects-Windows .\release\AnimeEffects.exe
        Copy-Item -Path ".\data" -Destination ".\AnimeEffects-Windows\" -recurse -Force
        Copy-Item ".\AnimeEffects.exe" ".\AnimeEffects-Windows\"
        tar.exe -a -c -f AnimeEffects-Windows.zip .\AnimeEffects-Windows
        
    - name: GitHub Releases
      uses: svenstaro/upload-release-action@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: AnimeEffects-Windows.zip
        tag: ${{ github.ref }}
    
